/* This is from bootstrap's docs.css that doesn't seem to be included in bootstrap.css */
.bi {
    display:inline-block;
    vertical-align:-.125em
}

.btn-sm > .bi {
    display:inline-block;
    vertical-align:-.18em
}

.invalid-input {
    border-color: #dc3545;
}

input.low-stat {
    border-color: #dc3545;
}

.low-stat {
    color: #dc3545;
}

#weaponDetailsModalBody table thead th {
    width: 14%;
}
